<%- include('includes/header') %>
<body>
    <%- include('includes/navbar') %>

    <div class="container mt-5">
        <h2 class="text-center">Registration Successful</h2>
        <div class="alert alert-success text-center" role="alert">
            User registered successfully!
        </div>
        <div class="text-center mt-3">
            <a href="/user-login" method="GET" class="btn btn-primary">Proceed to Login</a>
        </div>
    </div>
<%- include('includes/footer') %>
